<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  <!--materi pipe-->
  <div style="text-align: center;">
   <h1> {{message|titlecase}}</h1>
   <h2>{{amount|currency:'USD'}}</h2>
  </div>
  <div style="text-align: center" class="alert alert-success" >
    <p>{{activities|json}}</p>

  </div>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr >
        <!-- Materi ngSwitch-->
        <th>Id</th>
        <th>Title</th>
        <th>DueDate</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Materi ngSwitch-->
      <tr *ngFor="let activity of activities">
        <td>{{activity.id}}</td>
        <!-- <td>{{activity.title}}</td> -->
          <!-- <td>{{activity.dueDate}}</td> -->
<!-- materi Pipes-->
        <td>{{activity.title |uppercase}}</td>
        <td>{{activity.dueDate|date:'short'}}</td>


        <td><div [ngSwitch]="activity.status">
<span *ngSwitchCase="0">Not Complete</span>
<span *ngSwitchCase="1">Complete</span>
<span *ngSwitchDefault>NA</span>
        </div> </td>
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>
